.navbar {
    margin: 10px 20px 10px 300px;
    background-color: #FFFFFF;
    height: 80px;
    border-radius: 10px;
}

.navbar-title {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #FFFFFF;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
}

.nav-text {
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #b3b7bd;
    color: #000;
}

.nav-menu-items {
    margin-top: 10px;
    width: 100%;
    padding-left: 0;
}

span {
    margin-left: 16px;
}