.Products {
    padding: 80px 40px 10px 20px;
}

.ProductTitle {
    display: flex;
    justify-content: space-between;
}

.ProductText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ProductCard {
    width: 360px;
    margin: 20px auto;
}

.ProductDetail {
    background-color: #d0d4d8;
}

.ProductDetailCard {
    padding: 25px 25px 0px 30px !important;
    border-radius: 5px;
}

.ProductDetailImage {
    width: 50% !important;
}

.ProductButtons,
.checkoutProduct,
.checkoutProductDetails {
    display: flex;
}

.checkoutProduct {
    background-color: #FFFFFF;
    margin: 20px 0px 0px 35px !important;
    border-radius: 10px;
    width: 96% !important;
}

.checkoutProductDetails {
    padding: 40px 20px;
    width: 100% !important;
    justify-content: space-around;
}

.checkoutProductDetailsOne {
    max-width: 50%;
    overflow: auto;
}

.checkoutProductDetailsTwo {
    border-left: 1px solid #dfdfdf;
    padding-left: 20px;
    text-align: center;
    align-items: center;
}